.sort-arrow {
	width:					11px;
	height:					11px;
	background-position:	center center;
	background-repeat:		no-repeat;
	margin:					0 2px;
}

.sort-arrow.descending {
	background-image:		url("../image/sort_desc.gif");

}

.sort-arrow.ascending {
	background-image:		url("../image/sort_asc.gif");
}