<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<init-param>
        	<param-name>actionPackages</param-name>
        	<param-value>com.ruisi.vdop.web</param-value>
        </init-param>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	
	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring.xml</param-value>
	</context-param>

	<listener>
		<listener-class>com.ruisi.ext.engine.control.ExtContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.ruisi.vdop.util.OnlineUserListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>extControl</servlet-name>
		<servlet-class>com.ruisi.ext.engine.control.ExtControlServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>extControl</servlet-name>
		<url-pattern>/control/extControl</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>extView</servlet-name>
		<servlet-class>com.ruisi.ext.engine.control.ExtViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>extView</servlet-name>
		<url-pattern>/control/extView</url-pattern>
	</servlet-mapping>
	
</web-app>
